<footer class="footer">
  <div class="logo"><img src="/logo.svg" alt="" /></div>
  <ul class="footer__links">
    <li><a class="footer__link" href="">About</a></li>
    <li><a class="footer__link" href="">Services</a></li>
    <li><a class="footer__link" href="">Projects</a></li>
  </ul>
  <ul class="footer__links footer__links--social">
    <li>
      <a class="footer__link footer__link--social" href=""
        ><img src="/icons/icon-facebook.svg" alt="" /></a>
    </li>
    <li>
      <a class="footer__link footer__link--social" href=""
        ><img src="/icons/icon-instagram.svg" alt="" /></a>
    </li>
    <li>
      <a class="footer__link footer__link--social" href=""
        ><img src="/icons/icon-twitter.svg" alt="" /></a>
    </li>
    <li>
      <a class="footer__link footer__link--social" href=""
        ><img src="/icons/icon-pinterest.svg" alt="" /></a>
    </li>
  </ul>
</footer>

<style>
  .footer {
    background-color: #95d5c3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 4rem;
  }

  .logo {
    margin-block: 1rem;
  }

  .logo img {
    filter: brightness(0) saturate(100%) invert(30%) sepia(12%) saturate(6821%)
      hue-rotate(138deg) brightness(94%) contrast(65%);
    width: 12rem;
  }

  .footer__links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: clamp(2rem, 13vw, 3.5rem);
    padding: 0;
    margin-block: 2rem;
  }

  .footer__link {
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    font-size: 1.2rem;
    color: var(--color-primary-5);
  }

  .footer__links--social {
    gap: 1.75rem;
    align-items: center;
    margin-block: 3rem 0;
  }

  .footer__link:hover {
    color: var(--color-neutral-5);
  }

  .footer__link--social:hover {
    filter: brightness(0) saturate(100%) invert(100%);
  }

  @media (max-width: 675px) {
    .footer {
      padding-block: 3rem;
    }

    .footer__links {
      margin-block: 1rem;
    }

    .footer__link {
      font-size: 1.1rem;
    }

    .footer__links--social {
      margin-block: 4rem 3rem;
    }
  }
</style>
