---

---

<script>
  const navToggle = document.getElementById("nav-toggle");
  navToggle.addEventListener("click", () => {
    const isNavExpanded = navToggle.getAttribute("aria-expanded");
    if (isNavExpanded === "true") {
      navToggle.setAttribute("aria-expanded", "false");
    } else {
      navToggle.setAttribute("aria-expanded", "true");
    }
  });
</script>

<header class="header">
  <a href="/"><img class="logo" src="/logo.svg" alt="Sunnyside brand logo" /></a
  >
  <button
    id="nav-toggle"
    aria-controls="nav-menu"
    aria-expanded="false"
    class="header__menu-icon"
  >
    <img src="/icons/icon-hamburger.svg" alt="" />
  </button>
  <nav id="nav-menu">
    <ul class="header__links">
      <li><a class="header__link" href="">About</a></li>
      <li><a class="header__link" href="">Services</a></li>
      <li><a class="header__link" href="">Projects</a></li>
      <button class="button"
        ><a class="header__link header__link--button" href="">Contact</a
        ></button
      >
    </ul>
  </nav>
</header>

<style>
  .header {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .logo {
    display: block;
  }

  .header__menu-icon {
    display: none;
    background: transparent;
    border: none;
  }

  .header__links {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }

  .header__link {
    text-decoration: none;
    color: var(--color-neutral-5);
    font-family: "Barlow", sans-serif;
  }

  .button {
    background-color: var(--color-neutral-5);
    padding: 1rem 1.75rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 200ms ease-in;
  }

  .button:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .button:hover .header__link--button {
    color: var(--color-neutral-5);
  }

  .header__link--button {
    font-family: "Fraunces", serif;
    font-weight: 700;
    color: var(--color-neutral-1);
    text-transform: uppercase;
  }

  @media (max-width: 835px) {
    nav {
      display: none;
    }

    .header {
      padding: 2rem 1.25rem;
    }

    .header__menu-icon {
      display: block;
    }

    .header__links {
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
    }

    .header__link:not(.header__link--button) {
      color: var(--color-neutral-3);
      font-size: 1.2rem;
    }

    .button {
      background-color: var(--color-primary-2);
    }

    .header__link--button {
      color: var(--color-neutral-1);
    }

    .button:hover .header__link--button {
      color: var(--color-primary-4);
    }

    .header__menu-icon[aria-expanded="true"] + nav {
      display: block;
      background-color: var(--color-neutral-5);
      padding-block: 1rem;
      width: 88%;
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    .header__menu-icon[aria-expanded="true"] + nav::after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      bottom: 100%;
      right: 0;
      border-top: 12px solid transparent;
      border-left: 24px solid transparent;
      border-bottom: 24px solid #fff;
    }
  }
</style>
