---
import testimonials from "../assets/data/testimonials.json";
import Testimonial from "./Testimonial.astro";
---
<div class="testimonials">
  {
    testimonials.map((item) => (
      <Testimonial
        image={item.img}
        quote={item.quote}
        authorName={item.authorName}
        authorTitle={item.authorTitle}
      />
    ))
  }
</div>

<style> 
  .testimonials {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  @media (max-width: 835px) {
    .testimonials {
      flex-direction: column;
    }
  }
</style>