---
import Header from "../components/Header.astro";

const { backgroundDesktop, backgroundMobile } = Astro.props;
---

<section>
  <Header />
  <slot />
</section>


<style define:vars={{backgroundDesktop, backgroundMobile}}>
  section {
    display: grid;
    grid-template-rows: minmax(min-content, auto) 1fr;
    /* fallback value: */
    background: black;
    background: var(--backgroundDesktop);
    background-size: cover;
    background-position: 0%;
    aspect-ratio: 16/9;
  }

  @media (max-width: 835px) {
    section {
      background: var(--backgroundMobile);
      background-size: cover;
      background-position: center;
      aspect-ratio: auto;
    }
  }
</style>