---
import Header from "../components/Header.astro";

const { backgroundDesktop, backgroundMobile } = Astro.props;
---

<section data-bg-desktop={backgroundDesktop} data-bg-mobile={backgroundMobile}>
  <Header />
  <slot />
</section>

<script>
  import { setBgVariables } from "../../setBgVariables";

  setBgVariables("section");
</script>

<style>
  section {
    display: grid;
    grid-template-rows: minmax(min-content, auto) 1fr;
    /* fallback value: */
    background: black;
    background: var(--background-desktop);
    background-size: cover;
    background-position: 0%;
    aspect-ratio: 16/9;
  }
</style>