---
import Footer
 from '../components/Footer.astro';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    
    /* COLORS */
    --color-primary-1: hsl(7, 99%, 70%);
    --color-primary-2: hsl(51, 100%, 49%);
    --color-primary-3: hsl(167, 40%, 24%);
    --color-primary-4: hsl(198, 62%, 26%);
    --color-primary-5: hsl(168, 34%, 41%);

    --color-neutral-1: hsl(212, 27%, 19%);
    --color-neutral-2: hsl(213, 9%, 39%);
    --color-neutral-3: hsl(232, 10%, 55%);
    --color-neutral-4: hsl(210, 4%, 67%);
    --color-neutral-5: hsl(0, 0%, 100%);

    /* TYPOGRAPHY */
    --font-size: 18px;

    --font-family-regular: "Barlow", sans-serif;
    --font-family-accent: "Fraunces", serif;

    /* Breakpoints are at 835px and 675px */
  }

	* {
		box-sizing: border-box;
	}

  html,
	body {
    margin: 0;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
